<html>

<body>
  <h1 class="text-center">{{title}}</h1>

  <!-- 1. Define a string data in the ts file and use uppercase Pipe to transform the value and displaye it. -->
  <div class="common">
    <h1 class="text-center">Uppercase Pipe</h1>
    <br>
    <p>Original String: {{strData}}</p>
    <p>In upperCase: {{strData | uppercase}}</p>
  </div>

  <!-- 2 Modify above to take the input from the user and convert it into a uppercase data and display it. -->
  <div class="common">
    <h1 class="text-center">Uppercase and lowercase Pipe</h1>
    <input class="form-control" type="text" [(ngModel)]="strData">
    <br>
    <p>Original String: {{strData}}</p>

    <p>In upperCase: {{strData | uppercase}}</p>
    <p>In lowerCase: {{strData | lowercase}}</p>
  </div>

  <!-- 3. Take the input number from the user and display the data in Yen Currency, Ukrainian  Currency, Russian ruble currency along with USD, EUR and INR.
 -->
  <div class="common">
    <h1 class="text-center">Currency</h1>
    <input class="form-control" type="text" [(ngModel)]="iCurrencyData">
    <br>
    <p>Original Number: {{iCurrencyData}}</p>
    <p>Amount in USD: {{iCurrencyData | currency:'USD'}}</p>
    <p>Amount in INR: {{iCurrencyData | currency:'Rs.'}}</p>
    <p>Amount in EUR: {{iCurrencyData | currency:'JPY'}}</p>
    <p>Amount in YEN: {{iCurrencyData | currency:'YEN'}}</p>
    <p>Amount in Ukranian: {{iCurrencyData | currency:'UAH'}}</p>
    <p>Amount in Russian: {{iCurrencyData | currency:'RUB':"symbol"}}</p>
  </div>

  <!-- 4. create variables with date in milliseconds, with date object and date object converted to a string and display date from these variables using date pipe.
 -->
  <!-- 5. Display date using these formats with date pipe and display the output.
	short
	medium
	long
	full
	shortDate
	mediumDate
	longDate
	fullDate
	shortTime
	mediumTime
	longTime
	fullTime
 -->
  <div class="common">
    <h1 class="text-center">Date</h1>
    <p>Today's date in millisecond: {{todayDateinMili}}</p>
    <p>Today's date in millisecond piped to date pipe: {{todayDateinMili | date}}</p>
    <br>

    <p>Today's date in date object: {{todayDateObj}}</p>
    <p>Today's date in date object with pipe: {{todayDateObj | date}}</p>
    <br>

    <p>Today's date in string format: {{todayDateinString}}</p>
    <p>Date in string format with date pipe: {{todayDateinString | date}}</p>

    <p>Short date: {{todayDateObj | date: 'short'}}</p>
    <p>Medium date: {{todayDateObj | date: 'medium'}}</p>
    <p>Long date: {{todayDateObj | date: 'long'}}</p>
    <p>Full date: {{todayDateObj | date: 'full'}}</p>
    <p>shortDate: {{todayDateObj | date: 'shortDate'}}</p>
    <p>mediumDate: {{todayDateObj | date: 'mediumDate'}}</p>
    <p>longDate: {{todayDateObj | date: 'longDate'}}</p>
    <p>fullDate: {{todayDateObj | date: 'fullDate'}}</p>
    <p>shortTime: {{todayDateObj | date: 'shortTime'}}</p>
    <p>mediumTime: {{todayDateObj | date: 'mediumTime'}}</p>
    <p>longTime: {{todayDateObj | date: 'longTime'}}</p>
    <p>fullTime: {{todayDateObj | date: 'fullTime'}}</p>
  </div>

  <!-- 6. Define json user object and array of employee objects and display them using json pipe. -->
  <div class="common">
    <h1 class="text-center">
      JSON pipe of employee
    </h1>
    <p>{{jsonEmpObj | json}}</p>
  </div>

  <!-- 7. Define  json Insurance object and json student array of objects and display them using json pipe.  Insurance object will have the fields policyNo, policyHoldersName, AmountOnMaturity, Nominee Name, Monthly EMI to be paid, duration of the policy.  Student Object will have the fields student id, name, stream, location, final_marks.
 -->
  <div class="common">
    <h1 class="text-center">
      Insurance and Student object
    </h1>
    Student object:
    <p>{{jsonStudentObj | json}}</p>
    <br>
    Insurance object:
    <p>{{jsonInsuObj | json}}</p>
  </div>

  <div class="common">
    <h1 class="text-center">Student object in table format</h1>
    <table class="table table-dark table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Marks</th>
          <th>Stream</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of jsonStudentObj">
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.marks}}</td>
          <td>{{item.stream}}</td>
          <td>{{item.location}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="common">
    <h1 class="text-center">Insurance object in table format</h1>
    <table class="table table-dark table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Policy No.</th>
          <th>Policy Holder</th>
          <th>Amount Maturity</th>
          <th>Nominee</th>
          <th>Monthly EMI</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of jsonInsuObj">
        <tr>
          <td>{{item.policyNo}}</td>
          <td>{{item.policyHolder}}</td>
          <td>{{item.amtMaturity}}</td>
          <td>{{item.nominee}}</td>
          <td>{{item.monthly}}</td>
          <td>{{item.duration}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <!-- 8. Display decimal value of a number using decimal (number) pipe.
9. Define a decimal value and only interger part of it without any decimals.
 -->
  <div class="common">
    <h1 class="text-center">
      Decimal Pipe
    </h1>
    <p>Original number: {{decimalPipe}}</p>
    <p>Number with two decimal: {{decimalPipe | number: '1.0-2'}}</p>
    <p>Number without decimal: {{decimalPipe | number: '1.0-0'}}</p>
  </div>

  <!-- 10. Practice percent pipe shown in the class.
 -->
  <div class="common">
    <h1 class="text-center">Percent Pipe</h1>
    <p>Original percent: {{dataForPercentPipe}}</p>
    <p>Data with percent pipe: {{dataForPercentPipe | percent}}</p>
    <p>Data with percent pipe 1.2-5: {{dataForPercentPipe | percent:'1.2-5'}}</p>
  </div>

  <!-- 11. Practice all the types of slice pipes demonstrated in the class. -->
  <div class="common">
    <h1 class="text-center">Slice Pipe</h1>
    <p>Original data: {{dataForSlicePipe}}</p>
    <p>Slicing from 2nd to 5th position: {{dataForSlicePipe | slice: 2 : 5}}</p>
    <p>Slicing from 2nd position to 2nd last: {{dataForSlicePipe | slice: 2 : -3}}</p>
    <p>Leaving first 4 character rest are displayed: {{dataForSlicePipe | slice: 4}}</p>
    <p>-5 is 5 characters from last: {{dataForSlicePipe | slice: -5}}</p>
  </div>

  <!-- 12. Create three edit boxes.  First edit box when take the string from the user.  Second and third edit boxes will take starting and ending number for slice.  If the first edit box takes string as "Munnar" and second and third edit box takes 2 numbers as 1 and -1 then it should display "unna" as the output.
 -->
  <div class="common">
    <h1 class="text-center">
      Slicing
    </h1>
    Enter the text:
    <input class="form-control" type="text" [(ngModel)]="strSlice">
    Enter starting index:
    <input class="form-control" type="text" [(ngModel)]="strFirst">
    Enter ending index:
    <input class="form-control" type="text" [(ngModel)]="strSecond">
    <br>
    <h3>{{strSlice | slice :strFirst:strSecond }}</h3>
  </div>

  <!-- 13. Modify the above program as if the second input is zero then second input should not be considered.  If the second input is 0 then the command should be
        string | slice:startData.  Hint: You can use *ngIf, else and ng-template directives.
 -->
  <div class="common">
    <h1 class="text-center">
      Modified Slicing
    </h1>
    Enter the text:
    <input class="form-control" type="text" [(ngModel)]="strSlice">
    Enter starting index:
    <input class="form-control" type="text" [(ngModel)]="strFirst">
    Enter ending index:
    <input class="form-control" type="text" [(ngModel)]="strSecond">
    <br>
    <h3 *ngIf="strSecond!=0">{{strSlice | slice :strFirst:strSecond }}</h3>
    <h3 *ngIf="strSecond==0">{{strSlice | slice :strFirst }}</h3>
  </div>

  <!-- 14. Practice the Celcius to Farenhiet and Farenhiet to Celcius pipe and see the output. -->
  <div class="common">
    <h1 class="text-center">Temperature Converter</h1>
    <input type="text" [(ngModel)]='iFarent'>
    <br><br>
    <p>Given data: {{iFarent}}</p>
    <p>Fahrenheit to celcius: {{iFarent | tempConverter : 'toCelcius' | number:'1.0-2'}}</p>

    <input type="text" [(ngModel)]='iCelcius'>
    <br><br>
    <p>Given data: {{iCelcius}}</p>
    <p>Celcius to fahrenheit: {{iCelcius | tempConverter : 'toFaren' | number:'1.0-2'}}</p>
  </div>

  <!-- 15. Create a custom pipe for converting given string to uppercase, given string to lowercase and given string to capitalize   
 -->
  <div class="common">
    <h1 class="text-center">Capitalise a sentence</h1>
    <input type="text" [(ngModel)]='iSentence'>
    <h3>Output: {{iSentence | capital}}</h3>

  </div>

  <div class="common">
    <h1 class="text-center">Student object in table format</h1>
    <p>Search for stream:
      <input type="text" [(ngModel)]='fStream'>
    </p>

    <table class="table table-dark table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Marks</th>
          <th>Stream</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of jsonStudentObj | filterStream:fStream: 'stream'">
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.marks}}</td>
          <td>{{item.stream}}</td>
          <td>{{item.location}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="common">
    <h1 class="text-center">Pure and impure pipe implementation</h1>
    <p>Type in your fav fruit:
      <input type="text" value="" #fruitName>
      <button class="btn m-2 btn-success" (click)='addFruit(fruitName.value)'>Add</button>
    </p>
    <p>{{fruits | cutomPipe}}</p>
  </div>

</body>

</html>